/* General classes */
body {
    min-width: 370px;
}

.text-green {
    color: rgb(26, 188, 156);
}

.text-grey {
    color: rgb(136, 136, 136);
}

.bar {
    width: 35%;
    height: 3px;

    background-color: white;
    border-radius: 25px;
}

.my_star {
    width: 30px;
    display: inline-block;
}

.fa-star {
    position: relative;
    top: 6px;
}

.my_bg-grey {
    background-color: rgb(44, 62, 80);
}

.my_button {
    background-color: rgb(26, 188, 156);
    color: white;
}

/* Header */
header {
    background-color: rgb(44, 62, 80);
}

/* Main */
main #hero {
    background-color: rgb(26, 188, 156);
}

main #hero .my_profile {
    height: 300px;
}

main #portfolio .bar {
    background-color: black;
}

main #about {
    background-color: rgb(26, 188, 156);
}

main #contact .my_input {
    border-width: 0 0 1px 0;
    border-color: rgb(204, 204, 204);
    border-radius: 0;
}

main #contact .my_input:focus {
    box-shadow: 0 0 0 0.25rem rgba(26, 188, 156,0.3)!important;
}

main #contact .my_label {
    color: rgb(58, 84, 109);
    font-weight: bold;
    margin: 0;
}



/* Footer */
footer .upper-footer {
    background-color: rgb(58, 84, 109);
}

footer .my_circle {
    width: 50px;
    height: 50px;
    line-height: 50px;
}

footer .bottom-footer {
    background-color: rgb(44, 62, 80);
}